<script src="http://evanw.github.io/glfx.js/glfx.js"></script>
<script>

// curves playground
window.onload = function() {
    try {
        var canvas = fx.canvas();
        var canvas2 = fx.canvas();
    } catch (e) {
        alert(e);
        return;
    }

    var image = document.getElementById('image');
    var texture = canvas.texture(image);
    var texture2 = canvas2.texture(image);

    canvas.draw(texture)
    canvas2.draw(texture2)

    // fun
    //canvas.ink(0.25);
    //canvas.colorHalftone(0, 0, 1.5, 10);
    //canvas.dotScreen(0, 0, 1.5, 10);
    canvas.triangleBlur(20);
    //canvas.curves([[0, 0], [0.5, 1], [1, 0]]);
    //canvas.curves([[0, 0], [0.5, 1], [1, 0]], [[0, 0], [1, 0]], [[0, 0], [1, 1]]);
    //canvas.curves([[0, 0], [0.5, 1], [1, 0]], [[0, 0], [1, 0]], [[0, 0], [1, 1]]);

    canvas.update();
    canvas2.update();

    // replace the image with the canvas
    image.parentNode.insertBefore(canvas, image);
    //image.parentNode.insertBefore(canvas2, image);
    //image.parentNode.removeChild(image);
};

</script>
<style type="text/css">
.canvas {
  position: absolute;
  top: 0;
  left: 0;
}
</style>
<img id="image" src="object.png">
